body {
    background-color: #202020;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h1 {
    font-size: 2em;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.retro-box {
    background-color: #4CAF50;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.retro-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFA500;
    color: #000;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.retro-button:hover {
    background-color: #fff;
    color: #FFA500;
}
